.card {
    width: 260px;
    height: 530px;
    margin: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transition: height 0.3s, box-shadow 0.3s;
  }
  .card:hover {
    width: 270px;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
  }